/* jf-openhuninn */
@font-face {
  font-family: "jf-openhuninn";
  font-display: swap;
  src: url("/_SYSTEM/OtherFont/jf-openhuninn.ttf") format("truetype");
}

/* hack-nerd-font */
@font-face {
  font-family: "hack-nerd-font";
  font-display: swap;
  font-style: normal;
  src: url("/_SYSTEM/OtherFont/hack-nerd-font/HackNerdFont-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "hack-nerd-font";
  font-display: swap;
  font-style: italic;
  src: url("/_SYSTEM/OtherFont/hack-nerd-font/HackNerdFont-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "hack-nerd-font";
  font-display: swap;
  font-weight: bold;
  src: url("/_SYSTEM/OtherFont/hack-nerd-font/HackNerdFont-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "hack-nerd-font";
  font-display: swap;
  font-style: italic;
  font-weight: bold;
  src: url("/_SYSTEM/OtherFont/hack-nerd-font/HackNerdFont-BoldItalic.ttf") format("truetype");
}

/* hack-nerd-font-mono */
@font-face {
  font-family: "hack-nerd-font-mono";
  font-display: swap;
  font-style: normal;
  src: url("/_SYSTEM/OtherFont/hack-nerd-font/HackNerdFontMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "hack-nerd-font-mono";
  font-display: swap;
  font-style: italic;
  src: url("/_SYSTEM/OtherFont/hack-nerd-font/HackNerdFontMono-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "hack-nerd-font-mono";
  font-display: swap;
  font-weight: bold;
  src: url("/_SYSTEM/OtherFont/hack-nerd-font/HackNerdFontMono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "hack-nerd-font-mono";
  font-display: swap;
  font-style: italic;
  font-weight: bold;
  src: url("/_SYSTEM/OtherFont/hack-nerd-font/HackNerdFontMono-BoldItalic.ttf") format("truetype");
}

/* hack-nerd-font-propo */
@font-face {
  font-family: "hack-nerd-font-propo";
  font-display: swap;
  font-style: normal;
  src: url("/_SYSTEM/OtherFont/hack-nerd-font/HackNerdFontPropo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "hack-nerd-font-propo";
  font-display: swap;
  font-style: italic;
  src: url("/_SYSTEM/OtherFont/hack-nerd-font/HackNerdFontPropo-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "hack-nerd-font-propo";
  font-display: swap;
  font-weight: bold;
  src: url("/_SYSTEM/OtherFont/hack-nerd-font/HackNerdFontPropo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "hack-nerd-font-propo";
  font-display: swap;
  font-style: italic;
  font-weight: bold;
  src: url("/_SYSTEM/OtherFont/hack-nerd-font/HackNerdFontPropo-BoldItalic.ttf") format("truetype");
}