@use "/styles/value" as *;

#Frame {
  @include FullDiv();
  @include GridFrame();

  .Text {
    @include FlexCenter();

    * {
      font-size: 60px;
      letter-spacing: 5px;
      color: Color();
    }

    .Init {
      animation: 2s ease-in-out 0s infinite alternate DefaultAni;
    }

    .TimeCode {
      animation: 2s cubic-bezier(0, .5, 0, 1) 0s 1 forwards DefaultAni;
    }
  }
}

@keyframes DefaultAni {
  from {
    opacity: 1;
  }

  to {
    opacity: .5;
  }
}