@use "/styles/value" as *;

$brd-style: 3px solid Color();

#Frame {
  @include GridFrame();
  @include FullDiv();
  overflow: hidden;

  * {
    user-select: none;
  }

  & {
    .Edit {
      transform: none;
    }

    .Copy {
      transform: translateX(100%);
      opacity: 0;
    }
  }

  &.copyColor {
    .Edit {
      transform: translateX(-100%);
      opacity: 0;
    }

    .Copy {
      transform: none;
      opacity: 1;
    }
  }

  .DropArea {
    min-height: 10px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    opacity: 0;

    div {
      pointer-events: none;
      background-color: #fff;
      height: 2px;
    }

    &.activ {
      transition: none;
      opacity: 1;
    }
  }

  .TCFTI {
    z-index: 5;
    padding: 15px 0;
    background-color: #0008;
    backdrop-filter: $blur-effect;
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 10px;
    transform: translateY(100%);
    transition: cubic-bezier(.58, .08, 0, 1) .3s;

    .palette {
      opacity: 0;
      background-color: Color(1, .1);
      padding: 15px 20px;

      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .name {
          padding: 0 5px;
          font-size: 25px;
          margin-bottom: 5px;

          span {
            opacity: .5;
            font-size: 18px;
            margin-left: 10px;
          }
        }

        a {
          opacity: .25;
        }
      }

      .display {
        padding: 5px 0;
        display: flex;

        div {
          flex-grow: 1;
          height: 20px;
        }
      }

      &:hover {
        transition: none;
        background-color: Color(1, .2);
      }
    }

    &.show {
      transform: none;
      transition: DefaultTransition();

      .palette {
        opacity: 1;
      }
    }
  }

  .colorBar {
    @include GridFrame();

    .clr {
      z-index: 1;
      display: flex;
      gap: 5px;
      padding: 0 5px;

      &:hover {
        transition: none;
      }

      .button {
        border: $brd-style;
        @include FlexCenter2();

        svg {
          fill: Color();
        }

        &:hover {

          *,
          & {
            transition: none;
          }
        }
      }

      .color {
        width: 30px;
        background-color: Color();
        @include GridFrame();
        transition: none;

        input {
          opacity: 0;
        }
      }

      input {
        flex-grow: 1;
        border: $brd-style;
        background-color: #0000;
        padding: 5px 15px;
        outline: none;

        &:hover,
        &:focus {
          padding: 5px 10px;
        }
      }
    }

    .drgArea {
      z-index: 2;
      display: flex;
      flex-direction: column;

      >div {
        flex-grow: 1;
      }
    }
  }

  .Edit {
    z-index: 2;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;

    .Title {
      @include GridFrame();
      background: Color(.2);
      padding: 10px;

      .TexT {
        @include FlexCenter2();

        span {
          font-size: 20px;
          color: Color();
        }
      }
    }

    .List {
      overflow: auto;
      padding: 10px 0;
      display: flex;
      flex-direction: column;

      .last {
        flex-grow: 1;
        min-height: 50px;
      }
    }

    .Input {
      background-color: Color(.1);

      .colorBar {
        padding: 5px;
      }
    }
  }

  .Copy {
    z-index: 1;
    padding: 5px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .color {
      @include GridFrame();
      background-color: #000;

      * {
        pointer-events: none;
      }

      .bg {
        z-index: 1;
        border: $brd-style;
        border-width: 2px;
      }

      .text {
        z-index: 2;
        @include FlexCenter2();
        padding: 10px;

        span {
          opacity: 0;
          font-size: 15px;
        }
      }

      &:hover,
      &:active {

        *,
        & {
          transition: none;
        }

        .bg {
          filter: brightness(.6);
        }

        .text {
          span {
            opacity: 1;
          }
        }
      }
    }
  }
}